<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="APMServiceEntities" connectionString="metadata=res://*/DataFolder.APMBase.csdl|res://*/DataFolder.APMBase.ssdl|res://*/DataFolder.APMBase.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ELYA\MSSQLEXPSERVER;initial catalog=APMService;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="APMEntities" connectionString="metadata=res://*/DataFolder.APMBase.csdl|res://*/DataFolder.APMBase.ssdl|res://*/DataFolder.APMBase.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ELYA\MSSQLEXPSERVER;initial catalog=APM;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="APMServiceEntities1" connectionString="metadata=res://*/DataFolder.BaseModel.csdl|res://*/DataFolder.BaseModel.ssdl|res://*/DataFolder.BaseModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ELYA\MSSQLEXPSERVER;initial catalog=APMService;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="APMServiceEntities2" connectionString="metadata=res://*/DataFolder.ModelBase.csdl|res://*/DataFolder.ModelBase.ssdl|res://*/DataFolder.ModelBase.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ELYA\MSSQLEXPSERVER;initial catalog=APMService;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="APMServiceEntities3" connectionString="metadata=res://*/DataFolder.ModelBase.csdl|res://*/DataFolder.ModelBase.ssdl|res://*/DataFolder.ModelBase.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ELYA\MSSQLEXPSERVER;initial catalog=APMService;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="APMContext" connectionString="metadata=res://*/DataFolder.BaseModel.csdl|res://*/DataFolder.BaseModel.ssdl|res://*/DataFolder.BaseModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ELYA\MSSQLEXPSERVER;initial catalog=APMService;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="APMServiceEntities4" connectionString="metadata=res://*/DataFolder.Model1.csdl|res://*/DataFolder.Model1.ssdl|res://*/DataFolder.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ELYA\MSSQLEXPSERVER;initial catalog=APMService;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="APMServiceEntities5" connectionString="metadata=res://*/DataFolder.Model1.csdl|res://*/DataFolder.Model1.ssdl|res://*/DataFolder.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ELYA\MSSQLEXPSERVER;initial catalog=APMService;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="APMServiceEntities6" connectionString="metadata=res://*/DataFolder.Model1.csdl|res://*/DataFolder.Model1.ssdl|res://*/DataFolder.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ELYA\MSSQLEXPSERVER;initial catalog=APMService;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="APMServiceEntities7" connectionString="metadata=res://*/DataFolder.Model1.csdl|res://*/DataFolder.Model1.ssdl|res://*/DataFolder.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ELYA\MSSQLEXPSERVER;initial catalog=APMService;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="APMServiceEntities8" connectionString="metadata=res://*/DataFolder.Model1.csdl|res://*/DataFolder.Model1.ssdl|res://*/DataFolder.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ELYA\MSSQLEXPSERVER;initial catalog=APMService;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="APMServiceEntities9" connectionString="metadata=res://*/DataFolder.Model1.csdl|res://*/DataFolder.Model1.ssdl|res://*/DataFolder.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ELYA\MSSQLEXPSERVER;initial catalog=APMService;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="APMServiceEntities10" connectionString="metadata=res://*/DataFolder.Model1.csdl|res://*/DataFolder.Model1.ssdl|res://*/DataFolder.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ELYA\MSSQLEXPSERVER;initial catalog=APMService;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="APMServiceEntities11" connectionString="metadata=res://*/DataFolder.Model1.csdl|res://*/DataFolder.Model1.ssdl|res://*/DataFolder.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=K306PC3\SQLEXPRESS;initial catalog=APMService;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="APMServiceEntities12" connectionString="metadata=res://*/DataFolder.Model1.csdl|res://*/DataFolder.Model1.ssdl|res://*/DataFolder.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ELYA\MSSQLEXPSERVER;initial catalog=APMService;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>